<section>
    <div class="container">
        <div class="col-sm-8">
            <iframe src="http://coffeenow.zohosites.com/contact1.html" class="col-sm-12" height="800" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="col-sm-4">
            <p> </p>
            <p> </p>
            <p>
                <span style="font-size:medium;font-family:Calibri;">
                    若您想進一步了解我們的咖啡豆或想購買，除可與我們的【<a href="#/shopping" style="color:yellow;">經銷據點</a>】聯絡外，
                    亦可填寫本頁表格或將您的問是或需求內容郵寄至 <a href="mailto:sales@coffeenow.com.tw" style="color:yellow;">sales@coffeenow.com.tw</a>，我們在收到訊息後會儘快與您聯絡。
                </span>
            </p>
        </div>
    </div>
</section>    