<header class="pager">
    <flex-slider slide="s in imgList">
        <li>
            <img ng-src="{{s}}" />
        </li>
    </flex-slider>
</header> 

<section>
    <br />
    <h2>有關於加拉瓜與 AdIx 莊園</h2>
    <p>
        <h4>尼加拉瓜所產的咖啡品質極高早受國際咖啡愛好者的肯定，不過這塊璞玉在台灣卻從來未被發掘。 尼加拉瓜是個充滿咖啡文化色彩的國家，尤其是Matagalpa這產區更是獨一無二，這片被稱為詩人與大自然愛好者的土地，不論是從每天腳下踏著肥沃的土地細心地耕種，或早上到晚上的家庭時光，咖啡就是文化，就是這塊土地人民的靈魂的一部分。</h4><br />
        <h4>AdIx 莊園生產多種咖啡包括有機咖啡，自然農法咖啡，公平交易認證咖啡，雨林聯盟認證咖啡，馬雅UTZ認證。 AdIx 莊園的主人Torrez家族已經在這塊土地上耕耘了四個世代，現任的莊主Ixil Borter Torrez從六歲就開始學習咖啡的耕種與烘培，對她來說咖啡不只是事業而是志業，保持祖父執輩傳統的手法加上新思維及烘培技術造就 Adlx莊園非凡的咖啡品質。</h4><br />
        <h4>AdIx莊園只提供專業級的咖啡而已。 所有國際貿易的咖啡都經過測杯的評鑑過程，測杯的項目包括磨好沖泡前的香氣，沖泡後的咖啡香氣及咖啡本身的口感。 在測杯滿分為100分的基礎上，能獲得80分以上的的咖啡在技術上認為是專業級的咖啡，而在全球只有15%的咖啡可以達到這樣的水準。</h4><br />
        <h4>堅持與投入是造就專業等級咖啡的唯一道路。這也是為什麼我們花費好幾個月的心力在細心照料咖啡發芽及嚴格監控採收，烘乾及產出的每一個過程。 當AdIx咖啡呈現在消費者眼前時，這一杯香醇濃郁的咖啡就是其精益求精注重細節的結晶。</h4>
    </p>
    <h2>咖啡莊園之旅</h2>
    <p>
        <h4>我們歡迎愛好咖啡的同好到我們莊園來參觀，每年的十一月至隔年的二月是我們採收與製作咖啡的季節，歡迎你到我們莊園親自踩在這片自然芬芳的土地上，透過我們的專業導覽帶你走過滿山美麗的咖啡園，吸收高海拔的新鮮空氣，在農田中與我們的耕種夥伴閒談，認識你每天所喝下香醇咖啡的生產者，並且親眼見證我們高品質咖啡的生產跟烘培，這將會是一趟奇妙的旅程，你將會知道為何每一口你所喝下的AdIx咖啡會是如此的有層次與香醇。 生產履歷將不再只是一張紙與一個二維條碼，生產履歷在AdIx莊園是生命與對咖啡熱愛的投入，也是你可以一同參與的。</h4>
    </p>
</section>
