<header class="pager">
    <img src="../images/producers.jpg" alt="borters">
</header> 

<section>

    <h2>我們其他的耕種夥伴</h2>
    <p>
        <h4>Don Raynaldo Mairena 來自於 Aranjuez,這是一座美麗的山巒介於 Matagalpa與 Jiotega之間。 他所耕種的農場擁有咖啡樹需要的完美的氣候，海拔高度和降雨量，雖然擁有得天獨厚的自然環境，Don還是不斷的持續投資提升耕作的技術以自然農法保持產出的咖啡能夠有穩定的傑出品質。</h4><br />
        <h4>William Rodriguez是一位23歲來自La Mora, Jinotega的年輕人，在他父親過世之後身為家中六個小孩的長子扛起了從父親傳承的志業，持續在這塊土地上注入心力提高咖啡的品質，由於長時間持續地在咖啡耕作技術上的提升與專注耕作細節在2013年的測杯中，William所產出的咖啡大幅提升了五分。不自滿於現有的咖啡品質，William也持續自我訓練的專業技能的提升希望能夠生產出讓世人驚豔的咖啡。</h4><br />
    </p>

</section>