<header class="pager">
    <img src="../images/shop.jpg" alt="borters">
</header> 

<section>

    <h2>經銷據點</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="companyName"><a href="http://www.donaco.com.tw/">新倍通實業有限公司</a></p>
                <p class="companyInfo">
                    <a href="http://www.donaco.com.tw/">www.donaco.com.tw</a><br />
                    台北市信義區信義路五段五號 6D17-18 室<br />
                    營業時間早上九點至下午六點<br />
                    Tel: 02 2720 5850
                </p>
            </div>
            <div class="col-sm-4">
                <p class="companyName">蔚然藝術空間</p>
                <p class="companyInfo">
                    台北市大安區永康街 12 巷 8 號 1 樓<br />
                    營業時間下午三點至晚上十點<br />
                    Tel: 02 2392 0829<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0970338032
                </p>
            </div>
            <div class="col-sm-4">
                <p class="companyName">饗戀國際有限公司</p>
                <p class="companyInfo">
                    台中市龍井區遊園南路 143 巷 25 號<br />
                    營業時間早上十點至晚上十點<br />
                    Tel: 0979316155
                </p>
            </div>
        </div>
    </div>
</section>